* {
    box-sizing: border-box;
    font-family: 'Schoolbell', cursive;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    padding-left: 10px;
}

h1, h2 {
    color: #2b2b2b;
}

header img {
    padding: 2px;
}

/* styling for main page: */

#numberList {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

#favoriteList {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.cardLi {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 15px;
}

.count-image {
    height: 12rem;
    width: 9rem;
    margin: 5px;
}

#title {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 45pt;
    padding: 0;
    margin: 0.2rem;
}

#icon {
    height: 5rem;
}

main {
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('https://cdn.pixabay.com/photo/2019/02/10/12/55/colored-pencil-3987167_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin-top: 80px;
    height: 100vh;
    width: 100vw;
}

#indexSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 65rem;
    width: 37rem;
    margin-top: -10rem;
    background-color: #8b888a;
    border-radius: 5px;
    margin-left: -1rem;
}

#TVDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 5px;
}

#antennae {
    height: 60px;
}

#showMeNumbers {
    width: 20%;
    margin-top: 2rem; 
    margin-bottom: 10rem;
    padding: 1rem;
    font-size: 16pt;
    border-radius: 5px;
}

#asideDiv {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-left: 20px; 
    padding-bottom: 20px;
    /* font-family: 'Jura', sans-serif; */
}

aside {
    height: 260px;
    width: 50rem;
    background-color:#8b888a;
    margin: 20px;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
}


/* styling for training page: */

#trainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 755px;
    padding: 20px;
    background-color: #8b888a;
    border-radius: 5px;
}

#canvasDivTrain {
    margin: 0px;
    display: flex;
    justify-content: center;
}

#buttonDiv {
    /* margin-top: 15px; */
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonDiv button {
    width: 28%;
    padding: 5px;
    margin: 5px;
}

#buttonDiv button:nth-child(-n+10) {
    width: 15%;
    padding: 5px;
    margin: 5px;
}

button {
    font-family: 'Jura', sans-serif;
    font-size: 10pt;
    border-radius: 5px;
}

button:hover {
    background-color: #94c2ce;
}