
* {
    box-sizing: border-box;
    font-family: 'Schoolbell', cursive;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    padding-left: 10px;
}

h1, h2 {
    color: #2b2b2b;
}

header img {
    padding: 2px;
}

/* styling for main page: */

#numberList {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

#favoriteList {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.cardLi {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 15px;
}

.count-image {
    height: 12rem;
    width: 9rem;
    margin: 5px;
}

#title {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 45pt;
    padding: 0;
    margin: 0.2rem;
}

#icon {
    height: 5rem;
    padding-left: 1rem;
}

main {
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('https://cdn.pixabay.com/photo/2015/08/04/19/16/background-875120_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    pa`dding: 0px;
    margin-top: 80px;
    height: 100vh;
    width: 100vw;
}

#indexSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 65rem;
    width: 37rem;
    margin-top: -10rem;
    background-color: #8b888a;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
}

#TVDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 5px;
}

#antennae {
    height: 60px;
}

#showMeNumbers {
    width: 40%;
    height: 4rem;
    margin-top: 2rem; 
    margin-bottom: 10rem;
    padding: 1rem;
    font-size: 16pt;
    border-radius: 5px;
}

#asideDiv {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-left: 20px; 
}

aside {
    width: 50rem;
    background-color:#8b888a;
    margin: 20px;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
}

#selectDiv {
    height: 22rem;
    margin-top: -6rem;
    overflow-y: auto;
    border: 1px solid #2b2b2b;
}

#faveDiv {
    height: 22rem;
    overflow-y: auto;
    border: 1px solid #2b2b2b;
}


#selectDiv::-webkit-scrollbar {
    -webkit-appearance: none;
}

#selectDiv::-webkit-scrollbar:vertical {
    width: 11px;
}

#selectDiv::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #f6f6f6;
    background-color: #545454;
}

#faveDiv::-webkit-scrollbar {
    -webkit-appearance: none;
}

#faveDiv::-webkit-scrollbar:vertical {
    width: 11px;
}

#faveDiv::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 2px solid #f6f6f6;
    background-color: #545454;
}

/* styling for training page: */

#trainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 755px;
    padding: 20px;
    background-color: #8b888a;
    border-radius: 5px;
    margin-top: -3rem;
}

#canvasDivTrain {
    margin: 0px;
    display: flex;
    justify-content: center;
}

#buttonDiv {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonDiv button {
    width: 28%;
    padding: 5px;
    margin: 5px;
}

#buttonDiv button:nth-child(-n+11) {
    width: 23%;
    padding: 5px;
    margin: 5px;
}

button {
    font-family: 'Jura', sans-serif;
    font-size: 10pt;
    border-radius: 5px;
}

button:hover {
    background-color: #b6b6b6;
}